/*===================================================*/
/*=================NAVIGATION BAR====================*/
/*===================================================*/

/* the big blue bar where there are all the tab */
ul {
	list-style-type: none;
	overflow: hidden;
    margin: -8px -8px -8px;
    display: block;
    background-color: #0066ff;
    height: 60px;
    padding-left: 250px;
    padding-right: 250px;
}

/* all the tab of the navigation bar */
li {
    display: inline-block;
    background-color: #0066ff;
    color: white;
    height: 100%;
	width: 150px;
    margin: 0 -2px 0 -2px;

}

    li a {
        display: block;
        text-align: center;
        padding: 20px;
        text-decoration: none;
        height: 100%;
    }

        li a:visited {
            color: white;
            background-color: #3385ff;
        }

    li:hover {
        color: white;
        background-color: #3385ff;
    }

    

/*===================================================*/
/*======================BODY=========================*/
/*===================================================*/

body {
	height: 1200px;
}