ul {
	list-style-type: none;
	overflow: hidden;
    border: 1px solid black;
    margin: -8px -8px -8px;
    display: block;
    background-color: dodgerblue;
    height: 60px;
    position: static;
    padding-left: 150px;
    padding-right: 150px;
}

li  {
    display: inline-block;
    background-color: dodgerblue;
    text-align: center;
    vertical-align: middle;
    color: white;
    height: 99%;
	width: 120px;
    margin: 0 -2px 0 -2px;
	padding: 16px;
    background: linear-gradient();
}

    li:hover {
        color: lightgray;
        background-color: deepskyblue;
}

body {
	height: 1200px;
}